*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-students{
    border-collapse: collapse;
    width:800px;
    margin:auto;
}
.list-students td{
    border:1px solid #aaa;
    padding:5px 10px;
    text-align: center;
}
.list-students td:nth-last-child(1){
    text-align: right;
}
nav,.pages{
    text-align: center;
}
.pages{
    font-size:20px;
    font-weight: bolder;
    margin:1rem auto;
    display: flex;
    justify-content: space-between;
    width:800px;
}
.pages a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border:1px solid #eee;
    box-shadow: 1px 1px 5px #ccc;
    text-align: center;
    width:32px;
    height:32px;
    border-radius: 8px;

}
nav a{
    display:inline-block;
    padding:5px 10px;
    text-decoration: none;
}
nav a:hover{
    display:inline-block;
    padding:5px 10px;
    text-decoration: underline;
}

.class-list{
   display: flex; 
   list-style-type: none;
   justify-content: center;
   align-items: center;
   margin:5px 0;
}
nav ul.class-list li a{
    padding:5px 12px;
    margin:0 2px;
    border-radius:5px;
    background-color: lightskyblue;
    box-shadow: 2px 2px 3px skyblue;
    text-decoration: none;
}
 .class-list li a:hover{
    background-color: blue;
    color:white;
    font-weight: bolder;
    text-decoration: underline;
}
.now{
    background-color: green;
    color:white;
}

.pages a.noshow{
    border:0px solid #eee;
    box-shadow: initial;
}